//
// BASE
//

:root {
	font-size: 62.5%;
}

*, 
*::after, 
*::before { 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

body {
	background-color: #FFFFFF;
	font-family: -apple-system, 'Nunito', 'Helvetica Neue', sans-serif;
	font-weight: 300px;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.main {
	color: $black;
}

.container {
	margin: 0 auto;
	width: 80vw;
}